/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    background-color: #000000;
}
.content{
    width: 440px;
    background-color: #040405;
    margin: 0px auto;
}
/*---блок 1---*/
.block1{
    height: 250px;
    background-image: url("../img/m2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 250px 0px 0px 0px;
}
.block1__items{
    display: flex;
    width: 100%;
    float: left;
    flex-direction: column;
    margin: -200px 30px 30px 30px;
}
.block1__items-item01{
	color: #ff0000;
	font-family: 'Bebas Neue', cursive;
	font-size: 95px;
	margin: 0px;
}
.block1__items-item02{
    font-family: 'Oswald', sans-serif;
	color: #9e0000;
	font-size: 20px;
	margin: 0px;
}
.block1__items-item03{
    font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	margin: 25px 0px;
}
/*---блок 2---*/
.block2{
    height: 420px;
    background-color: #0b0b0d;
    padding: 20px 0px;
}
.block2__tail1{
    display: none;
    width: 100%;
    float: left;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
    align-items: center;
}
.block2__tail2{
    display: flex;
    width: 85%;
    float: left;
    flex-direction: column;
    margin: 20px 40px;
}
.img01{
    height: 250px;
}
.block2__tail2-item1{
    font-family: 'Oswald', sans-serif;
	color: #ff0000;
    font-size: 28px;
	margin: 15px 0px;
	text-align: center;
}
.block2__tail2-item2{
    font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	margin: 5px 0px 25px 0px;
	text-align: justify;
}
/*---блок 3---*/
.block3{
    height: 340px;
    background-color: #161515;
    padding: 20px 0px;
}
.block3__back{
    height: 250px;
    margin: 10px 0px 0px 0px;
    background-image: url("../img/ph1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.block3__form{
    height: 350px;
    display: flex;
    width: 100%;
    margin: 0px;
    flex-direction: column;
    text-align: center;
}
.block3__form-01{
	color: #e57336;
	font-family: 'Bebas Neue', cursive;
	font-size: 55px;
	margin: 40px 60px 0px;
	background: #292929;
	padding: 10px 0px 0px 0px;
}
.block3__form-02{
	color: white;
    font-family: 'Oswald', sans-serif;
	font-size: 18px;
	margin: 0px 60px 50px;
	background: #292929;
    padding: 0px 10px 10px 10px;
}
/*---блок 4---*/
.block4{
    height: 340px;
    background-color: #1b1b1b;
    padding: 20px 0px;
}
.block4__back{
    height: 250px;
    padding: 0px;
    background-image: url("../img/ph2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.block4__form{
    height: 350px;
    display: flex;
    width: 100%;
    margin: 0px;
    flex-direction: column;
    text-align: center;
}
.block4__form-01{
	color: #ff414a;
	font-family: 'Bebas Neue', cursive;
	font-size: 53px;
	margin: 40px 60px 0px;
    background: #383737;
    padding: 10px 0px 0px 0px;
}
.block4__form-02{
	color: white;
    font-family: 'Oswald', sans-serif;
	font-size: 19px;
	margin: 0px 60px 50px;
    background: #383737;
    padding: 0px 10px 10px 10px;
}
/*---блок 5---*/
.block5{
    height: 400px;
    background-color: #161515;
    padding: 10px 0px;
}
.block5__back{
    height: 250px;
    padding: 10px 0px;
    background-image: url("../img/ph3.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.block5__form{
    height: 350px;
    display: flex;
    width: 100%;
    margin: 0px;
    flex-direction: column;
    text-align: center;
}
.block5__form-01{
	color: #424f99;
	font-family: 'Bebas Neue', cursive;
	font-size: 55px;
	margin: 30px 30px 0px 90px;
	background: #292929;
	padding: 10px 0px 0px 0px;
}
.block5__form-02{
	color: white;
    font-family: 'Oswald', sans-serif;
	font-size: 19px;
	margin: 0px 30px 0px 90px;
	background: #292929;
    padding: 0px 10px 10px 10px;
}
/*---блок 6---*/
.block6{
    height: 380px;
    background-color: #1b1b1b;
    padding: 10px 0px;
}
.block6__back{
    height: 250px;
    padding: 0px;
    background-image: url("../img/ph4.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.block6__form{
    height: 350px;
    display: flex;
    width: 100%;
    margin: 0px;
    flex-direction: column;
    text-align: center;
}
.block6__form-01{
	color: #6be571;
	font-family: 'Bebas Neue', cursive;
	font-size: 50px;
	margin: 40px 70px 0px 30px;
    background: #383737;
    padding: 10px 10px 0px 10px;
}
.block6__form-02{
	color: white;
    font-family: 'Oswald', sans-serif;
	font-size: 19px;
	margin: 0px 70px 50px 30px ;
    background: #383737;
    padding: 0px 10px 10px 10px;
}
/*---блок 7---*/
.block7{
    height: 340px;
    background-color: #161515;
    padding: 10px 0px;
}
.block7__back{
    height: 250px;
    padding: 0px;
    background-image: url("../img/ph5.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.block7__form{
    height: 350px;
    display: flex;
    width: 100%;
    margin: 0px;
    flex-direction: column;
    text-align: center;
}
.block7__form-01{
	color: #55abea;
	font-family: 'Bebas Neue', cursive;
	font-size: 45px;
	margin: 30px 30px 0px 90px;
	background: #292929;
	padding: 10px 0px 0px 0px;
}
.block7__form-02{
	color: white;
    font-family: 'Oswald', sans-serif;
	font-size: 19px;
	margin: 0px 30px 0px 90px;
	background: #292929;
    padding: 0px 10px 10px 10px;
}
/*---блок 8---*/
.block8{
    height: 180px;
    background-color: #0b0b0d;
    padding: 10px 0px;
}
.block8__back{
    height: 330px;
    padding: 0px;
    background-image: none;
}
.block8__form{
    font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 19px;
	margin: 40px 30px;
	text-align: justify;
}
/*---блок 9---*/
footer{
    background-color: #0b0b0d;
    height: 70px;
}
.block9{
    font-family: 'Oswald', sans-serif;
 	color: white;
 	font-size: 9px;
 	padding: 20px 10px;
 	text-align: center;
}
